.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mv1{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  margin: auto;
}


.mvs2{
  display: flex;
  flex-wrap: wrap;
  padding: 2px 5px;
  flex-direction: row;
  width: 24%;
}

.heading{
  text-align: center;
  font-size: 27px;
  margin: 10px;
}


@media (max-width:1200px){
  .mvs2{
    width: 30%;
  }
}


@media (max-width:900px){
  .mvs2{
    width: 45%;
  }
}

@media (max-width:700px){
  .mvs2{
    width: 48%;
  }
}

@media (max-width:600px){
  .mvs2{
    width: 48%;
  }
}




@media (max-width:507px){
  .mvs2{    width: 89%;
    margin: 0 2rem;
  }
}



@media (max-width:400px){
  .mvs2{    width: 95%;
    margin: 0 0rem;
  }
}



@media (max-width:270px){
  *{
    display: none;
  }
}